<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple QR Code Generator application">
    <title>QRIT - QR Code Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>QR Code Generator</h1>
            <h2>Enter data below to generate a QR Code</h2>
        </div>
        <form class="form" action="/makeQr" method="POST">
            <input type="text" name="data" id="data" placeholder="Enter Data" autocomplete="off" required>
            <input type="submit" name="submit" id="submit" value="Generate QR Code">
        </form>
        <div class="output">
            {% if url_for('static', filename='image.jpg') %}
            <h3>Your QR Code:</h3>
            <img class="qr" src="{{ url_for('static', filename='image.jpg') }}" alt="QR Code">
            {% endif %}
        </div>
    </div>
</body>
</html>
